<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=~, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="container">
        <h2>Making HTML dropdowns not suck</h2>
        <table>
            <form method="POST" action="adddata" id="form1">


                <span class="color-picker"></span>

                <br /><br />
                <tr>
                    <th>Department</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Voucher</th>
                </tr>
                <tr>
                    <td>
                        <span class="custom-dropdown big">
                            <select name="department">
                                <option value="VC">V.C</option>
                                <option value="PVC">PVC</option>
                                <option value="Library">Library</option>
                                <option value="Accounts">Accounts</option>
                                <option value="AR">AR</option>
                            </select>
                        </span>
                    </td>



                    <td>
                        <span class="custom-dropdown big">
                            <select name="product">
                                <option value="Pen">Pen</option>
                                <option value="Pencil">Pencil</option>
                                <option value="Mask">Mask</option>
                                <option value="Sanetizer">Sanetizer</option>
                                <option value="Gloves">Gloves</option>
                            </select>
                        </span>
                    </td>


                    <td>
                        <span class="custom-dropdown big">
                            <select>
                                <option>Pen</option>
                                <option>Pencil</option>
                                <option>Mask</option>
                                <option>Sanetizer</option>
                                <option>Gloves</option>
                            </select>
                        </span>
                    </td>

                    <td>
                        <span class="custom-dropdown big">
                            <select>
                                <option>Pen</option>
                                <option>Pencil</option>
                                <option>Mask</option>
                                <option>Sanetizer</option>
                                <option>Gloves</option>
                            </select>
                        </span>
                    </td>
                </tr>
                </tr>

                <!-- <tr>
                <th>Product</th>
                <td>
                    <span class="custom-dropdown big">
                        <select>
                            <option>Pen</option>
                            <option>Pencil</option>
                            <option>Mask</option>
                            <option>Sanetizer</option>
                            <option>Gloves</option>
                        </select>
                    </span>
                </td>
            </tr>

            <tr>
                <th>Quantity</th>
                <td>
                    <span class="custom-dropdown big">
                        <select>
                            <option>Sherlock Holmes</option>
                            <option>The Great Gatsby</option>
                            <option>V for Vendetta</option>
                            <option>The Wolf of Wallstreet</option>
                            <option>Quantum of Solace</option>
                        </select>

                    </span>
                </td>
            </tr>

            <tr>
                <th>Voucher</th>
                <td>
                    <span class="custom-dropdown big">
                        <select>
                            <option>Sherlock Holmes</option>
                            <option>The Great Gatsby</option>
                            <option>V for Vendetta</option>
                            <option>The Wolf of Wallstreet</option>
                            <option>Quantum of Solace</option>
                        </select>
                    </span>
                </td>
            </tr>

            <br /> -->
                <input type="submit" value="Submit">
            </form>
        </table>
    </div>
</body>

</html>